
# Yarn without zero installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Node dependency directories
node_modules/
.npm
.node_repl_history
*.tgz

# TypeScript
typings/
*.tsbuildinfo

# Optional eslint cache
.eslintcache


# dotenv environment variables file
.env
.env.test

#IntelliJ
.idea


